form.formtastic {
  .select {
    width: 20%;
  }
  input.btn-action {
    padding: 10px;
    background-color: #0069aa;
    color: #fff;
  }
}
.hide_form {
  display: none;
}
.show_comment {
  cursor: pointer;
  font-weight: bold;
}